@import '../../../colors';
@import '../../../fonts';
@import '../../../helper';

.container{
    width: 164px;
    height: 88px;
    border-radius: 4px;
    .wrapper{
       display: grid;
       width: auto;
       height: 100%;
        //padding: 8px;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
       @include center();
       grid-template-areas: 'heading'
                            'image';
        // min-width: 0;
        // max-width: 253px;
        // border: 1px solid black;
        .heading{
            // grid-area: heading;
            // @include mobile-heading-4();
            @include mobile-subheading-1();
            @include center();
            min-width: 0;
            margin: 16px 0px 16px 8px;
            // flex-wrap: wrap;
            // width: 50%;
            // padding: 5px;
            // border: 1px solid black;
        }
        .image{
            display: block;
            margin: 8px;
            // width: 50%;
            // border: 1px solid black;
        }
    } 
}

@media screen and (min-width: 1024px) {
    .container{
        width: 201px;
        height:112px;
        .wrapper{
            // @include center();
            height: 100%;
            .heading{
                // align-self: center;
                // justify-self: center;
                margin: 24px 4px 24px 24px;
                @include desktop-heading-4();
            }
        }
    }
}