@import '../../../colors';
@import '../../../fonts';
@import '../../../helper';

.container{
    .wrapper{
       display: grid;
       grid-template-areas: 'image'
                            'heading'
                            'paragraph'
                            'details'
                            'button'
                            'footer';
        // border: 1px solid black;
        max-width: 253px;
        .imageContainer{
            grid-area: image;
            .image{
                display: block;
                width: 100%;
            }
        }
        .heading{
            grid-area: heading;
            @include mobile-heading-3();
            color: $NeutralGrey_120;
            // border: 1px solid black;
            h5{
                margin: 0;
            }
        }
        .paragraph{
            grid-area: paragraph;
            @include mobile-body-2();
            color: $NeutralGrey_110;
            // border: 1px solid black;
            p{
                margin: 0;
            }
        }
        .details{
            grid-area: details;
            @include mobile-body-2();
            color: $NeutralGrey_110;
            .section1, .section2{
                display: flex;
                align-items: center;
                p{
                    display: flex;
                    align-items: center;
                    margin-right: 5px;
                }
            } 
        }
        .button{
            grid-area: button;
            width: 100%;
        }
        .footer{
            grid-area: footer;
        }
    }
}