@import '../../../colors';
@import '../../../fonts';
@import '../../../helper';

.card {
    display: flex;
    flex-direction: column;
    .image {
        display: block;
        width: 100%;
        border-radius: 6px;
    }
    
    .details {
        color: $NeutralGrey_100;
        display: flex;
        flex-direction: column;
        .heading {
            @include mobile-heading-3();
            color: $NeutralGrey_120;
            margin: 2px 4px;
        }
        
        .miniDetails {
            margin: 0 0px;
            display: flex;
            justify-content: flex-start;
            
            .items {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .icon {
                    margin: 0 6px;
                }

            }
        }
    }
    .button{
        width: 100%; 
    }
}



@media screen and (min-width: 1024px) {
    .card{
        .details {
            .heading {
                @include desktop-heading-4();
            }
        }
        
    }
}