@import '../colors';
@import '../fonts';
@import '../helper';

.dots {
    margin: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    width: auto;
    text-align: center;
    li{
        list-style: none;
        cursor: pointer;
        display: inline-block;
        margin: 0 3px;
        padding: 0;
        button{
            border: none;
            background: #D5D7DE;
            color: transparent;
            cursor: pointer;
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 7.5px;
        }
        button:focus{
            background: $Orange_80;
            outline: 0;
            width: 24px;
        }
    } 
}
