@import '../../fonts';
@import '../../helper';
@import '../../colors';

.container {
    .header {
        @include center();
        @media screen and (min-width: 1024px) {
            @include desktop-heading-2();
        }
        @media screen and (max-width: 1024px) {
            @include mobile-heading-2();
        }
    }
    .paragraph {
        @include center();
        @media screen and (min-width: 1024px) {
            @include desktop-body-1();
        }
        @media screen and (max-width: 1024px) {
            @include mobile-body-1();
        }
    }
    
    .uniqueHobbies {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        padding: 5% 5%;
        .card {
            flex: 0 1 23%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .image {
                width: 100%;
                border-radius: 6px;
            }
            .heading {
                // border: 1px solid black;
                @media screen and (min-width: 1024px) {
                    @include desktop-heading-4();
                }
                @media screen and (max-width: 1024px) {
                    @include mobile-heading-3();
                }
            }
            .hobbyDetails {
                color: $NeutralGrey_100;
                display: flex;
                justify-content: flex-start;
                margin: 0 0 20px 0;
                // border: 1px solid black;
                .miniDetails {
                    margin: 2px;
                }
            }
            .button{
                width: 100%;
            }
        }
    }
    

}
