@import "../../fonts";
@import "../../helper";
@import "../../colors";

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    
    .wrapper {
        width: 100%;
        background-image: url('../../../public/images/misc/Checkered_BG_Vertical.png');
        display: grid;
        grid-template-areas: 
                             'heading'
                             'featuresGrid'
                             'button'
                             'exploreCoursesText'
                             'image';
        .heading {
            grid-area: heading;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            // display: grid;
            // grid-template-areas: 'subheading1 subheading2'
            //                       'subheading3 subheading3';
            width: 100%;
            // flex-direction: row;
            @include mobile-heading-1();
            @include center();
            color: $Black;
            .headingTop{
                display: flex;
                align-items: center;
                border: 1px solid black;
                .subheading2 {
                    grid-area: subheading2;
                    position: relative;
                    flex-wrap: nowrap;
                    border: 1px solid red;
                    // height: inherit;
                    padding-top: 5px;
                    margin-bottom: 5px;
                    h3 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border: 1px solid blue;
                    }
                    .threeLines{
                        // position: absolute;
                        align-self: flex-end;
                        margin: -15px;
                        // float: left;
                        border: 1px solid black;
                    }
                }
            }
            .headingBottom{
                margin-top: -75px;
            }
                // .subheading3{
                //     padding-top: 5px;
                //     h3{
                //         display: flex;

                //     }
                // }
                // }
            // margin: 48px 16px 32px;
            // .subheading1{
            //     h3{
            //         display: flex;
            //         flex-direction: row;
            //     }
            // }
            // .subheading2 {
            //     h3 {
            //         display: flex;
            //         flex-direction: column;
            //         align-items: center;
            //     }
            // }
        }
        
        .featuresGrid{
            display: flex;
            flex-wrap: wrap;

            border: 1px solid brown;

            // .featuresGrid > feature{
            //     flex: 50%;
            // }
            .feature{
                display: flex;
                flex: 50%;
                @include center();
                min-width: 0px;
                // height: 48px;
                border: 1px solid black;
                .featureIcon{
                    @include center();
                    // min-width: 48px;
                    // min-height: 48px;
                    border: 1px solid yellow;
                }
                .featureTextBox{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // padding-left: 8px;
                    // @include center();
                    border: 1px solid red;
                
                    .featureTextOne{
                        @include mobile-label-2();
                        border: 0.2px solid blue;
                    }
                    .featureTextTwo{
                        @include mobile-helper();
                        color: $NeutralGrey_110;
                        border: 0.2px solid blue;
                    }
                }
            }
        }

        // .featuresGrid{
        //     grid-area: featuresGrid;
        //     display: grid;
        //     // grid-template-columns: repeat(auto-fill, minmax(149px, 1fr));
        //     grid-template-columns: repeat(2, 1fr);
        //     grid-template-rows: repeat(2, 1fr);
        //     // grid-template-columns: auto auto;
        //     // grid-template-rows: auto auto;
        //     // grid-auto-flow: dense;
        //     justify-content: center;
        //     max-width: 550px;
        //     grid-gap: 10px;
        //     padding: 10px;
            
        //     border: 1px solid brown;
        
            // .feature{
            //     display: flex;
            //     @include center();
            //     min-width: 149px;
            //     // height: 48px;
            //     border: 1px solid black;
            //     .featureIcon{
            //         // @include center();
            //         // min-width: 48px;
            //         // min-height: 48px;
            //         border: 1px solid yellow;
            //     }
            //     .featureTextBox{
            //         display: flex;
            //         flex-direction: column;
            //         justify-content: center;
            //         padding-left: 8px;
            //         // @include center();
            //         border: 1px solid red;
                
            //         .featureTextOne{
            //             @include mobile-label-2();
            //             border: 0.2px solid blue;
            //         }
            //         .featureTextTwo{
            //             @include mobile-helper();
            //             color: $NeutralGrey_110;
            //             border: 0.2px solid blue;
            //         }
            //     }
            // }
        // }
            
        .imageContainer {
            grid-area: image;
            display: flex;
            justify-content: flex-end;
            // margin-top: -100px;
            width: 100% !important;
            height: 100% !important;
            .image {
                // border: 1px solid black;
                width: 100%;
                height: 100%;
                display: block;
                // object-fit: contain;
            }
        }
    }
        .button{
            grid-area: button;
            justify-self: left;

            // width: 100%;
            // max-width: 200px;
            // margin: 40px 16px 16px;
            border: 1px solid black;
        }
        .exploreCoursesText{
            grid-area: exploreCoursesText;
            width: 100%;
            max-width: 198px;
            max-height: 52px;
            // background-color: $White;
            // max-width: 200px;
            // margin: 0px 25px;
            @include mobile-button-large;
            color: $Black;
            border: 1px solid black;
        }

}

@media screen and (min-width: 769px) {
    .container {
        height: 100%;
        // border: 1px solid black;
        // margin: 10px;
        .wrapper {
            display: grid;
            // grid-template-areas: 'image'
            //                      'image'
            //                      'image'
            //                      'heading'
            //                      'paragraph'
            //                      'section-1'
            //                      'section-2'
            //                      'button';
            grid-template-areas: 'heading heading image image'
                                 'featuresGrid featuresGrid image image'
                                 'featuresGrid featuresGrid image image'
                                 'button . image image'
                                  'exploreCoursesText . image image';
            .heading {
                grid-area: heading;
                display: flex;
                @include mobile-heading-2();
                @include center();
                color: $Black;
                .subheading2 {
                    h3 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }

            // .featuresGrid{
            //     grid-area: featuresGrid;
            //     display: grid;
            //     grid-template-columns: auto auto;
            //     grid-template-rows: auto auto;
            //     grid-gap: 10px;
            //     padding: 10px;
            //     justify-content: center;
            //     // border: 1px solid black;
            //     .featureTemplate{
            //         display: flex;
            //         @include center();
            //         // border: 1px solid black;
            //         .featureIconTemplate{
            //             @include center();
            //             min-width: 88px;
            //             min-height: 88px;
            //             // border: 1px solid black;
            //         }
            //         .featureTextBoxTemplate{
            //             display: flex;
            //             flex-direction: column;
            //             justify-content: center;
            //             // @include center();
            //             // border: 1px solid black;
                        
            //             .featureTextOneTemplate{
            //                 @include desktop-label-2();
            //                 // border: 0.2px solid blue;
            //             }
            //             .featureTextTwoTemplate{
            //                 @include desktop-helper();
            //                 // border: 0.2px solid blue;
            //             }
            //         }
            //     }
            // }
            .imageContainer {
                // border: 1px solid black;
                grid-area: image;
                display: block;
                // position: relative;
                width: 100%;
                // max-width: 100vw;
                max-width: 814px;
                min-width: 200px;
                // height: 100vh;
                justify-self: end;
                .image{
                    width: 100%;
                    height: 100%;
                }
            }
            .button{
                grid-area: button;
                justify-self: left;
    
                // width: 100%;
                // max-width: 200px;
                // margin: 40px 16px 0px;
            }
            .exploreCoursesText{
                grid-area: exploreCoursesText;
                // width: 100%;
                // max-width: 200px;
                // margin: 0px 25px;
                @include mobile-button-large;
                color: $Black;
            }
        }
    }
}