@import "../../fonts";
@import "../../helper";
@import "../../colors";

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 16px;
    .wrapper {
        width: 100%;
        display: grid;
        grid-template-areas: 'heading'
                             'paragraph'
                             'reasonsContainer'
                             'button';
        .heading {
            grid-area: heading;
            margin: 0px 16px;
            // padding: 0px 16px;
            @include mobile-heading-2();
            @include center();
            color: $Black;
        }
        .paragraph {
                grid-area: paragraph;
                // display: flex;
                margin: 0px 16px;
                @include mobile-body-1();
                @include center();
                color: $NeutralGrey_100;
        }
        
        .reasonsContainer{
            grid-area: reasonsContainer;
            display: flex;
            flex-direction: column;
            // width: 100%;
            margin: 0px 29px;
        
            .block{
                @include center();
                display: flex;
                flex-direction: column;
                margin: 32px 0px;
            
                .blockTitle{
                    @include mobile-heading-3();
                    // display: flex;
                    color: $Black;
                }
                .blockPara{
                    max-width: 317px;
                    color: $NeutralGrey_110;
                    @include mobile-body-2();
                    text-align: center;
                }
            }
        }
        .button {
            // max-width: 343px;
            // width: 100%;
            grid-area: button;
            // align-self: center;
            justify-self: center;
            padding: 5%;
        }
        
    }

    
}

@media screen and (min-width: 769px) {
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        
        margin: 0 16px;
        .wrapper {
            width: 100%;
            display: grid;
            grid-template-areas: 'heading'
                                 'paragraph'
                                 'reasonsContainer'
                                 'button';
            .heading {
                grid-area: heading;
                margin: 0px 16px;
                // padding: 0px 16px;
                @include desktop-heading-2();
                @include center();
                color: $Black;
            }
            .paragraph {
                    grid-area: paragraph;
                    // display: flex;
                    margin: 0px 169px;
                    @include desktop-body-1();
                    @include center();
                    color: $NeutralGrey_100;
            }
            
            .reasonsContainer{
                grid-area: reasonsContainer;
                display: flex;
                flex-direction: row;
                @include center();
                margin: 0px 56px;
            
                .block{
                    @include center();
                    display: flex;
                    flex-direction: column;
                    
                    margin: 32px 5px;
                    .blockImage{
                        height: 128px;
                    }
                    .blockTitle{
                        @include desktop-heading-3();
                        // display: flex;
                        color: $Black;
                    }
                    .blockPara{
                        // width: 317px;
                        color: $NeutralGrey_110;
                        @include desktop-body-2();
                        text-align: center;
                    }
                }
            }
            .button {
                // max-width: 343px;
                // width: 100%;
                grid-area: button;
                // align-self: center;
                justify-self: center;
                padding: 5%;
            }
            
        }
    
        
    }
}