@import "../../fonts";
@import "../../helper";
@import "../../colors";

.container{
    // background-color: rgb(143, 138, 138);
    .wrapper{
        @include center();
        flex-direction: column;
        margin: 10px 50px;
        text-align: center;
        p{
            margin: 0;
        }
        .header{
            @include mobile-heading-1();
            color: $Black;
        }
        .paragraph{
            @include mobile-body-1();
            color: $NeutralGrey_110;
            margin-top: 30px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container{
        .wrapper{
            margin: 10px 150px;
            .header{
                @include desktop-heading-2();
            }
            .paragraph{
                @include desktop-body-1();
            }
        }
    }
}