@import '../../../colors';
@import '../../../fonts';
@import '../../../helper';

.button {
    background-color: $White;
    color: $Orange_80;
    border: 1px solid $Orange_80;
    border-radius: 4px;
    box-sizing: border-box;
    @media screen and (max-width: 1024px) {
        @include mobile-button-large;
        // width: 342px;
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width: 1024px) {
        @include desktop-button-large;
        // width: 202px;
        width: 100%;
        height: 100%;
    }
}