@import '../../../colors';
@import '../../../fonts';
@import '../../../helper';

.button {
    background-color: $White;
    color: $Black;
    border: 1px solid $White;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(34, 9, 87, 0.1), 0px 4px 20px rgba(34, 9, 87, 0.15);
    @media screen and (max-width: 1024px) {
        @include mobile-button-large;
        width: 180px;
        height: 48px;
    }
    @media screen and (min-width: 1024px) {
        @include desktop-button-large;
        width: 201px;
        height: 52px;
    }
}