/* Colors */
// Black, White and Grey
$Black: #220957;
$White: #FFFFFF;

$NeutralGrey_120: #2E2E2E;
$NeutralGrey_110: #4C4C4C;
$NeutralGrey_100: #797979;
$NeutralGrey_90: #E6E6E6;
$NeutralGrey_80: #F7F7F7;

$CoolGrey_120: #767D93;
$CoolGrey_110: #979CAE;
$CoolGrey_100: #AFB3C0;
$CoolGrey_90: #D5D7DE;
$CoolGrey_80: #F9FAFB;

// Orange 
$Orange_100: #BD502D;
$Orange_80: #F97864;
$Orange_60: #FFA99C;
$Orange_40: #FFDAD5;
$Orange_20: #FFEBE8;

// Purple 
$Purple_100: #761ECE;
$Purple_80: #B973FF;
$Purple_60: #D9A9FF;
$Purple_40: #ECD9FF;
$Purple_20: #F6EDFF;

// Green
$Green_100: #28845D;
$Green_80: #11DD93;
$Green_60: #84FFD3;
$Green_40: #D0FFEE;
$Green_20: #E3FFF5;

//Blue
$Blue_100: #0374A5;
$Blue_80: #30CDEF;
$Blue_60: #87E9FF;
$Blue_40: #D3F7FF;
$Blue_20: #E5FAFF;

//Yelow
$Yellow_100: #583500;
$Yellow_60: #FEEDB1;
$Yellow_40: #FDFED8;
$Yellow_20: #FFFFE8;

//Pink
$Pink_100: #690058;
$Pink_60: #FF9EE5;
$Pink_40: #FFDAF5;
$Pink_20: #FFECFA;